{
	"trailingComma": "none",
	"printWidth": 100,
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"bracketSpacing": false,
	"arrowParens": "always",
	"overrides": [
		{
			"files": ["*.yml"],
			"options": {
				"tabWidth": 2
			}
		}
	]
}
